{% load wagtailimages_tags %}
<div class="relative w-16 aspect-square rounded-full overflow-hidden bg-neutral-200 isolate">
    <picture>
        {% image image fill-96x96 as profile_fallback %}
        {% image_url image "fill-96x96|format-webp" as profile_96 %}
        {% image_url image "fill-128x128|format-webp" as profile_128 %}
        {% image_url image "fill-192x192|format-webp" as profile_192 %}
        {% image_url image "fill-256x256|format-webp" as profile_256 %}
        {% image_url image "fill-384x384|format-webp" as profile_384 %}
        {% image_url image "fill-512x512|format-webp" as profile_512 %}
        <source media="(min-width: 1024px)" srcset="{{ profile_256 }}, {{ profile_512 }} 2x" type="image/webp">
        <source media="(min-width: 768px)" srcset="{{ profile_192 }}, {{ profile_384 }} 2x" type="image/webp">
        <source media="(min-width: 640px)" srcset="{{ profile_128 }}, {{ profile_256 }} 2x" type="image/webp">
        <source srcset="{{ profile_96 }}, {{ profile_192 }} 2x" type="image/webp">
        <img
            src="{{ profile_fallback.url }}"
            alt=""  {# This is a decorative image #}
            class="absolute inset-0 w-full h-full -z-10 object-cover"
            loading="eager"
            width="{{ profile_fallback.width }}"
            height="{{ profile_fallback.height }}"
        >
    </picture>
</div>
