{% load l10n wagtailcore_tags wagtailimages_tags %}

<a class="flex flex-row items-start group no-underline" href="{% pageurl project %}">
    {% if project.video or project.image %}
        <div class="shrink-0 w-24 sm:w-32 xl:w-48 {% if project.image_shadow %} px-0.5 sm:px-1 xl:px-2 {% endif %} ">
            {% if project.video %}
                <video
                    src="{{ project.video.url }}"
                    width="{{ project.video.width | unlocalize }}"
                    height="{{ project.video.height | unlocalize }}"
                    class="{% if project.image_shadow %} rounded shadow-md {% endif %}"
                    autoplay
                    loop
                >Animation of {{ project.title }}</video>
            {% elif project.image %}
                {% image project.image width-192 as project_image_192 %}
                {% image project.image width-256 as project_image_256 %}
                {% image project.image width-384 as project_image_384 %}
                <img
                    srcset="
                            {{ project_image_192.url }} 192w,
                            {{ project_image_256.url }} 256w,
                            {{ project_image_384.url }} 384w
                        "
                    sizes="
                            (min-width: 640px) 256px,
                            (min-width: 1280px) 384px,
                            192px
                        "
                    src="{{ project_image_384.url }}"
                    alt="Screenshot of {{ project.title }}"
                    class="{% if project.image_shadow %} rounded shadow-md {% endif %}"
                    loading="lazy"
                />
            {% endif %}
        </div>
    {% endif %}

    <div class="ml-4">
        <span class="group-hover:text-neutral-800 group-active:text-neutral-500">
            <h3 class="decoration-3 group-hover:underline underline-offset-2 mb-3 mt-2 text-xl sm:text-2xl font-bold">{{ project.title }}</h3>
        </span>
        <p class="text-sm sm:text-base xl:text-lg text-neutral-500">{{ project.introduction }}</p>
    </div>
</a>
