{% load static %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width; initial-scale=1">
        <title>{% block title %}lpld.io{% endblock title %}</title>
        <link rel="stylesheet" type="text/css" href="{% static 'style.css' %}">
        <link rel="icon" type="image/svg+xml" href="{% static 'favicon/favicon.svg' %}">
        <link rel="icon" type="image/png" href="{% static 'favicon/favicon.png' %}">
    </head>
    <body>
      <div class='headerAndMainWrapper'>
        {% include "organisms/header/header.html" %}
        <main>
            {% block content %}
            {% endblock content %}
        </main>
      </div>
      <Footer />
    </body>
</html>
