{% load lpldutils plausible static %}
<!DOCTYPE html>
<html lang="en" class="antialiased bg-neutral-50 text-neutral-500">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width; initial-scale=1">
        {% sentry_meta %}
        {% if page.meta_description %}
            <meta name="description" content="{{ page.meta_description }}">
        {% endif %}
        <title>{% block title %}{{ page.title_tag_content }}{% endblock title %}</title>
        <link rel="stylesheet" type="text/css" href="{% static 'style.css' %}">
        <link rel="icon" type="image/svg+xml" href="{% static 'favicon/favicon.svg' %}">
        <link rel="icon" type="image/png" href="{% static 'favicon/favicon.png' %}">
        <script src="{% static "main.js" %}" async defer></script>
        {% if plausible_settings.PLAUSIBLE_DOMAIN %}
            {% plausible domain=plausible_settings.PLAUSIBLE_DOMAIN script="script.js" %}
        {% endif %}
        {# When page is displayed in the preview panel, open links in new tab. #}
        {% if request.in_preview_panel %}
            <base target="_blank">
        {% endif %}
    </head>
    <body>
        {% block body %}
            {{ pattern_library_rendered_pattern }}
        {% endblock body %}
        {{ sentry_settings|json_script:"sentry-settings" }}
    </body>
</html>
