{% extends "base.html" %}
{% load static %}

{% block body %}
    <div class="flex flex-col min-h-screen w-full max-w-screen-lg mx-auto px-5 sm:px-8 md:px-12">
        {% block header %}
            {% include "organisms/header/header.html" with links=primary_navigation_links %}
        {% endblock header %}
        <main>
            {% block content %}
            {% endblock content %}
        </main>
        {% block footer  %}
            <div class="grow"></div>
            <div>
                <hr class="mb-20 border-neutral-200">
                {% include "organisms/contact/contact.html" with id="contact" class="my-20" %}
                {% include "organisms/footer/footer.html" with extra_class="mb-10" %}
            </div>
        {% endblock footer %}
    </div>
{% endblock body %}
