{% load wagtailcore_tags heroicons slippers lpldutils %}
<a href="{{ url }}" class="link link-inherit {{ size|match:'3xl: link-3xl , 2xl: link-2xl, xl: link-xl '|default:' link-lg' }}" >
    {% for word in text|split  %}
        {% spaceless %}
            {% if not forloop.last %}
                <span>{{ word }}</span>
            {% else %}
                <span class="whitespace-nowrap">
                    <span>{{ word }}</span>
                    {% if size == '3xl' %}
                        {% heroicon_outline "chevron-right" size=24 stroke_width="3" stroke_linecap="square" stroke_linejoin="square" class="inline sm:ml-0.5" %}
                    {% elif size == '2xl' %}
                        {% heroicon_outline "chevron-right" size=19 stroke_width="3" stroke_linecap="square" stroke_linejoin="square" class="inline sm:ml-0.5" %}
                    {% elif size == 'xl' %}
                        {% heroicon_outline "chevron-right" size=17 stroke_width="3" stroke_linecap="square" stroke_linejoin="square" class="inline sm:ml-0.5" %}
                    {% else %}
                        {% heroicon_outline "chevron-right" size=14 stroke_width="3" stroke_linecap="square" stroke_linejoin="square" class="inline sm:ml-0.5" %}
                    {% endif %}
                </span>
            {% endif %}
        {% endspaceless %}
    {% endfor %}
</a>
