{% load slippers heroicons lpldutils %}
{% spaceless %}
    <a href="{{ href }}" class="hover:underline hover:decoration-2 group">
        {% for word in text|split  %}
            {% if not forloop.last %}
                {{ word }}
            {% else %}
                {# Span wrapper to avoid line-break between icon and last word. #}
                <span class="inline-flex items-center decoration-2 group-hover:underline ">
                    {{ word }}
                    {% heroicon_mini "chevron-right" %}
                </span>
            {% endif %}
        {% endfor %}
    </a>
{% endspaceless %}
