{% load static heroicons %}
<a
    class="
        flex
        justify-center
        items-center
        border-0 border-b-2
        border-transparent hover:border-neutral-700
        fill-neutral-800 text-neutral-800
        hover:fill-neutral-700
        active:fill-neutral-900
        h-12
        w-12
        p-2
    "
    href="{{ href }}"
    rel="noreferrer noopener"
    aria-label="{{ alt }}"
>
    {% if icon %}
        {% include icon %}
    {% endif %}
    {% if heroicon %}
        {% heroicon_solid heroicon size=42 %}
    {% endif %}
</a>
