{% load slippers %}
<section
    {% if id %}id="{{ id }}"{% endif %}
    {% if class %}class="{{ class }}"{% endif %}
>
    {% #heading level="2" size="md" extra_class="sr-only" %}Contact{% /heading %}

    <ul class="flex flex-row flex-wrap justify-center items-center mx-auto gap-8 md:gap-16">
        <li>
            {% social_link alt="Email" href="mailto:tibor@lpld.io" heroicon="envelope" %}
        </li>
        <li>
            {% social_link alt="LinkedIn" href="https://www.linkedin.com/in/tbrlpld" icon="atoms/icons/linkedin-brands.svg" %}
        </li>
        <li>
            {% social_link alt="GitHub" href="https://github.com/tbrlpld" icon="atoms/icons/github-brands.svg"%}
        </li>
    </ul>
</section>
