{% load slippers heroicons %}
<section
    {% if id %}id="{{ id }}"{% endif %}
    {% if class %}class="{{ class }}"{% endif %}
>
    {% #heading level="2" size="md" extra_class="max-w-md x-large:max-w-lg" %}Let's build something together{% /heading %}

    <div class="py-32 x-large:py-44 text-center">
        {% #button_link href="mailto:tibor@lpld.io" large=True %}
            {% spaceless %}
                {% heroicon_solid "mail" size=40 class="inline-block h-6 xl:h-8 w-6 xl:w-8 mr-3 xl:mr-4" %}
                <span>Send me an email</span>
            {% endspaceless %}
        {% /button_link %}
    </div>

    <ul class="flex flex-row justify-between max-w-md mx-auto px-8 w-auto">
        <li>
            {% social_link alt="LinkedIn" href="https://www.linkedin.com/in/tbrlpld" icon="atoms/icons/linkedin-brands.svg" %}
        </li>
        <li>
            {% social_link alt="Twitter" href="https://twitter.com/tbrlpld" icon="atoms/icons/twitter-brands.svg" %}
        </li>
        <li>
            {% social_link alt="GitHub" href="https://github.com/tbrlpld" icon="atoms/icons/github-brands.svg"%}
        </li>
        <li>
            {% social_link alt="Stack Overflow" href="https://stackoverflow.com/users/6771403/tbr?tab=profile" icon="atoms/icons/stack-overflow-brands.svg" %}
        </li>
    </ul>
</section>
