.welcome {
  margin: 128px 0 0;
}

.welcome .headingWrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
} 

.welcome h1 {
  display: inline-block;
  margin: 0;
}

.welcome .profilePicture {
  width: 96px;
  box-shadow: var(--shadow-inner-3);
  border-radius: 100%;
}
@media (min-width: 640px) {
  .welcome .profilePicture {
    width: 128px;
  }
}
@media (min-width: 992px) {
  .welcome .profilePicture {
    width: 192px;
  }
}
@media (min-width: 1280px) {
  .welcome .profilePicture {
    width: 256px;
  }
}

.welcome .profilePicture img {
  z-index: -1;
}

.welcome .intro {
  margin: 32px 0 0;
  max-width: 384px;
  font: var(--font-5);
  color: var(--gray-600);
}
@media (min-width: 640px) {
  .welcome .intro {
    font: var(--font-6);
  }
}
@media (min-width: 1280px) {
  .welcome .intro {
    margin-top: 48px;
    max-width: 512px;
  }
}

section.projects {
  margin: 64px 0 0;
  padding: 64px 0 0;
}
@media (min-width: 1280px) {
  section.projects {
    margin: 128px 0 0;
    padding: 128px 0 0;
  }
}

.projects h2 {
  max-width: 512px;
}
@media (min-width: 640px) {
  .projects h2 { 
    max-width: 640px
  }
}

.projects ul {
  margin: 64px 0 0; 
  padding: 0;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}
@media (min-width: 992px) {
  .projects ul { 
    margin: 96px -16px 0;
    flex-direction: row;
  }
}
@media (min-width: 1280px) {
  .projects ul { 
    margin: 128px -32px -64px;
  }
}

.projects ul li {
  display: block;
  margin: 0;
  padding: 0 0 64px;
  flex-shrink: 0;
}
@media (min-width: 992px) {
  .projects ul li { 
    padding: 0 16px 64px;
  }
}
@media (min-width: 1280px) {
  .projects ul li { 
    padding: 0 32px 64px;
  }
}

section.contact {
  margin: 64px 0 128px;
  padding-top: 64px;
}
@media (min-width: 1280px) {
  section.contact {
    margin: 128px 0 128px;
    padding-top: 128px;
  }
}
