* {
  box-sizing: border-box;
}

html {
  --gray-100: hsl(0, 0%, 98%);
  --gray-200: hsl(0, 0%, 94%);
  --gray-300: hsl(0, 0%, 83%);
  --gray-400: hsl(0, 0%, 76%);
  --gray-500: hsl(0, 0%, 60%);
  --gray-600: hsl(0, 0%, 52%);
  --gray-700: hsl(0, 0%, 46%);
  --gray-800: hsl(0, 0%, 34%);
  --gray-900: hsl(0, 0%, 20%);

  --shadow-1: 0px 1px 3px rgba(0, 0, 0, 0.2);
  --shadow-2: 0px 4px 6px rgba(0, 0, 0, 0.2);
  --shadow-3: 0px 5px 15px rgba(0, 0, 0, 0.2);
  --shadow-4: 0px 10px 24px rgba(0, 0, 0, 0.2);
  --shadow-5: 0px 15px 35px rgba(0, 0, 0, 0.2);
  --shadow-inner-3: inset 0px 0px 1px hsla(0, 0%, 0%, 0.2);

  --font-stack: Helvetica, 'Helvetica Neue', Arial, sans-serif;
  --font-1: normal 12px/1.5 var(--font-stack);
  --font-2: normal 14px/1.5 var(--font-stack);
  --font-3: normal 16px/1.5 var(--font-stack);
  --font-4: normal 18px/1.5 var(--font-stack);
  --font-5: normal 20px/1.2 var(--font-stack);
  --font-6: normal 24px/1.2 var(--font-stack);
  --font-7: normal 30px var(--font-stack);
  --font-8: normal 36px var(--font-stack);
  --font-9: normal 48px var(--font-stack);
  --font-10: normal 60px var(--font-stack);
  --font-11: normal 76px var(--font-stack);
  --font-1-bold: bold 12px/1.5 var(--font-stack);
  --font-2-bold: bold 14px/1.5 var(--font-stack);
  --font-3-bold: bold 16px/1.5 var(--font-stack);
  --font-4-bold: bold 18px/1.5 var(--font-stack);
  --font-5-bold: bold 20px var(--font-stack);
  --font-6-bold: bold 24px var(--font-stack);
  --font-7-bold: bold 30px var(--font-stack);
  --font-8-bold: bold 36px var(--font-stack);
  --font-9-bold: bold 48px var(--font-stack);
  --font-10-bold: bold 60px var(--font-stack);
  --font-11-bold: bold 76px var(--font-stack);

  background-color: white;
  background-color: var(--gray-100);
  color: black;
  color: var(--gray-900);
  font-family: Helvetica, 'Helvetica Neue', Arial, sans-serif;
  font-family: var(--font-stack);

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  margin: 0;
  padding: 0;
}

.headerAndMainWrapper {
  max-width: 992px;
  width: 100%;
  margin: 0 auto;
}

main {
  margin: 0 24px;
}
@media (min-width: 640px) {
  main {
    margin: 0 64px;
  }
}
@media (min-width: 1280px) {
  main {
    margin: 0;
  }
}

h1 {
  margin: 0;
  padding: 0;
  font: var(--font-8-bold);
}
@media (min-width: 640px) {
  h1 {
    font: var(--font-9-bold);
  }
}
@media (min-width: 1280px) {
  h1 {
    font: var(--font-10-bold);
  }
}

h2 {
  margin: 0;
  padding: 0;
  font: var(--font-8-bold);
}
@media (min-width: 640px) {
  h2 {
    font: var(--font-9-bold);
  }
}

a {
  color: inherit;
  text-decoration-line: underline;
  text-decoration-style: solid;
  text-decoration-thickness: 2px;
  text-underline-offset: 2px;
}

a:hover {
  text-decoration-style: dotted;
  color: var(--gray-500);
}

a:active {
  color: black;
  color: var(--gray-800);
}
