section.project {
  margin: 128px 0 0;
}
@media (min-width: 1280px) {
  section.project {
    margin-top: 192px;
  }
}

.project h1 {
  max-width: 512px;
}
@media (min-width: 1280px) {
  .project h1 {
    max-width: 768px;
  }
}

.project .description {
  margin: 24px 0 0;
  max-width: 640px;
  font: var(--font-5);
  color: var(--gray-600);
}
@media (min-width: 768px) {
  .project .description {
    margin-top: 32px;
    font: var(--font-6);
  }
}
@media (min-width: 1280px) {
  .project .description {
    margin-top: 48px;
    font: var(--font-7);
  }
}

.project .dataWrapper {
  margin: 16px 0 0;
  display: flex;
  flex-direction: column;
}
@media (min-width: 1024px) {
  .project .dataWrapper {
    margin-top: 32px;
    flex-direction: row;
  }
}
@media (min-width: 1280px) {
  .project .dataWrapper {
    margin-top: 48px;
  }
}

.project .imageWrapper {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-shrink: 0;
}

.project .linksAndExtendedDescriptionWrapper {
  margin: 0;
}
@media (min-width: 1024px) {
  .project .linksAndExtendedDescriptionWrapper {
    margin-left: 24px;
  }
}

.project .links {
  margin: 24px -16px 0;
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.links .projectLinkWrapper {
  padding: 0 8px;
}
@media (min-width: 1024px) {
  .project .links {
    margin: 48px -24px 0;
    justify-content: flex-start;
  }
  .links .projectLinkWrapper {
    padding: 0 24px;
  }
}
@media (min-width: 1280px) {
  .project .links {
    margin-top: 64px;
  }
}

.projectLinkWrapper .buttonLink {
  width: 128px;
}
@media (min-width: 1024px) {
  .projectLinkWrapper .buttonLink {
    width: 192px;
    padding: 20px 0;
    font: var(--font-3-bold);
  }
}

.project .extendedDescription {
  margin: 48px 0 0;
  font: var(--font-3);
  color: var(--gray-600);
}
@media (min-width: 768px) {
  .project .extendedDescription {
    margin-top: 24px;
  }
}
@media (min-width: 1280px) {
  .project .extendedDescription {
    font: var(--font-4);
  }
}

.project .techPillsContainer {
  margin-top: 64px;
}
@media (min-width: 1280px) {
  .project .techPillsContainer {
    margin-top: 96px;
  }
}

.projectImage {
  /* width: 384px; */
  /* max-width: 100%; */
  /* height: auto; */
  /* flex-shrink: 0; */
}

.projectImage.thumbnail {
  /* width: 96px; */
  /* flex-shrink: 0; */
}
@media (min-width: 640px) {
  .projectImage.thumbnail {
    /* width: 128px; */
  }
}
@media (min-width: 1280px) {
  .projectImage.thumbnail {
    /* width: 192px; */
  }
}

.projectImage.notMacScreenshot {
  /* margin: 8px 12px 8px; */

  /* border-radius: 3px; */
  /* box-shadow: var(--shadow-2) */
}

.projectImage.notMacScreenshot.thumbnail {
  /* width: calc(96px - 2*2px); */
  /* margin: 0 2px; */
  /* border-radius: 1px; */
  /* box-shadow: var(--shadow-1) */
}
@media (min-width: 640px) {
  .projectImage.notMacScreenshot.thumbnail {
    /* /1* width: calc(128px - 2*4px); *1/ */
    /* margin: 0 4px; */
  }
}
@media (min-width: 1280px) {
  .projectImage.notMacScreenshot.thumbnail {
    /* /1* width: calc(192px - 2*8px); *1/ */
    /* margin: 0 8px; */
  }
}
