.projectElement {
  position: relative;
  display: flex;
  align-items: flex-start;
}

.projectElement:hover .projectName {
  text-decoration: underline;
  text-decoration-thickness: 3px;
}

.projectElement:hover .projectLink {
  color: black;
  color: var(--gray-900);
}

.projectElement:active .projectName {
  color: black;
}

.projectElement .projectLink {
  text-decoration: none;
}

.projectLink::after {
  content: '';
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  cursor: pointer;
}

.projectData {
  margin-left: 16px;
  max-width: 384px;
}
@media (min-width: 992px) {
  .projectData {
    max-width: 256px;
  }
}

.projectName {
  margin: 8px 0 12px;
  font: var(--font-5-bold);
}
@media (min-width: 640px) {
  .projectName {
    font: var(--font-6-bold);
  }
}

.projectDescription {
  margin: 0;
  color: var(--gray-600);
  font: var(--font-2);
}
@media (min-width: 640px) {
  .projectDescription {
    font: var(--font-3);
  }
}
@media (min-width: 1280px) {
  .projectDescription {
    font: var(--font-4);
  }
}
