{% load slippers heroicons %}
{% var heading_level=heading_level|default:"2" %}

<div>
    <h{{ heading_level }} class="{{ size|match:' 3xl:mb-1 , 2xl:  mb-0.5 ' }}">
        {% if chevron %}
            {% include "atoms/chevron-link/chevron-link.html" with url=url text=heading %}
        {% else %}
            <a href="{{ url }}" class="link link-inherit {{ size|match:'3xl: link-3xl , 2xl: link-2xl, xl: link-xl '|default:' link-lg' }}" >{{ heading }}</a>
        {% endif %}
        {% comment %}
        <a href="{{ url }}" class="inline-block hover:underline {{ size|match:'3xl: hover:decoration-2 sm:hover:decoration-3 hover:underline-offset-3 , 2xl: hover:decoration-2 sm:hover:decoration-2 hover:underline-offset-2 sm:hover:underline-offset-3'|default:'hover:decoration-2 sm:hover:decoration-2 hover:underline-offset-2 sm:hover:underline-offset-2 ' }} ">
            {% spaceless %}
                <span>{{ heading }}</span>
                {% if chevron %}
                    {% heroicon_outline "chevron-right" size=36 class=size|match:'3xl: w-8 sm:w-10 h-8 sm:h-10 pb-1 , 2xl: w-7 sm:w-8 h-7 sm:h-8 pb-0.5 pt-0.5  sm:pb-1'|default:' w-6 sm:w-7 h-6 sm:h-7 pb-0.5'|add:" inline" %}
                {% endif %}
            {% endspaceless %}
        </a>
        {% endcomment %}
    </h{{ heading_level }}>
    <p class="{{ size|match:'3xl: text-lg sm:text-xl , 2xl: text-base sm:text-lg '|default:' text-sm sm:text-base '}} text-zinc-400">{{ tagline }}</p>
</div>
