<main class="p-16">
    <h1>Button styles</h1>
    <h2>Link buttons</h2>
    <div class="my-8 flex flex-row gap-8">
        <a href="" class="btn">{{ link_text }}</a>
        <a href="" class="btn btn-ghost">{{ link_text }}</a>
        <a href="" class="btn btn-alt">{{ link_text }}</a>
    </div>
    <div class="my-8 flex flex-row gap-8">
        <a href="" class="btn btn-xl">{{ link_text }}</a>
        <a href="" class="btn btn-ghost btn-xl">{{ link_text }}</a>
        <a href="" class="btn btn-alt btn-xl">{{ link_text }}</a>
    </div>
    <div class="my-8 flex flex-row gap-8">
        <a href="" class="btn btn-2xl">{{ link_text }}</a>
        <a href="" class="btn btn-ghost btn-2xl">{{ link_text }}</a>
        <a href="" class="btn btn-alt btn-2xl">{{ link_text }}</a>
    </div>
</main>
