{% extends "base-page.html" %}
{% load wagtailcore_tags slippers %}

{% block extra_html_class %}
    scroll-pt-12
{% endblock extra_html_class %}

{% block content %}
    <article>
        <div class="h-44 max-h-[30dvh]">{# Spacer #}</div>

        {% heading_with_intro heading=page.title introduction=page.introduction|richtext %}

        {% for block in page.body %}
            <section class="mt-16">
                {% include_block block %}
            </section>
        {% endfor %}

        <div class="h-32 sm:h-44 max-h-[30dvh]">{# Spacer #}</div>
    </article>
{% endblock content %}
