{% load slippers heroicons lpldutils %}
{% spaceless %}
    <a href="{{ href }}" class="hover:underline hover:decoration-2">
        {% for word in text|split  %}
            {% if not forloop.last %}
                {{ word }}
            {% else %}
                <span class="whitespace-nowrap">
                    <span>{{ word }}</span>
                        {% heroicon_outline "chevron-right" size=1em stroke_width=4 stroke_linecap="square" stroke_linejoin="round" class="inline-block max-w-[1em] ml-1 sm:ml-2" %}
                    </span>
            {% endif %}
        {% endfor %}
    </a>
{% endspaceless %}
