{% load slippers heroicons lpldutils %}
{% spaceless %}
    <a href="{{ href }}" class="inline-flex items-center gap-x-1 hover:underline hover:decoration-2">
        {{ text }}
        {% heroicon_outline "chevron-right" stroke_width=2 %}
        {% comment %}
        {% for word in text|split  %}
            {% if not forloop.last %}
                {{ word }}
            {% else %}
                <span>{{ word }}</span>
                {% heroicon_outline "chevron-right" size=16 stroke_width=2 %}
            {% endif %}
        {% endfor %}
        {% endcomment %}
    </a>
{% endspaceless %}
