{% load slippers %}
{% var heading_level=heading_level|default:"2" %}
{% var size=size|default:"" %}
<div>
    {% if supertitle %}
        <div class="mb-2 sm:mb-6 {{ size|match:'large: text-xl sm:text-3xl'|default:'text-lg sm:text-2xl' }} uppercase font-bold tracking-widest text-wvcyan-600">{{ supertitle }}</div>
    {% endif %}
    <h{{ heading_level }} class="font-bold tracking-tight {{ size|match:'large: text-5xl sm:text-7xl '|default:'text-3xl sm:text-5xl'}}">{{ title }}</h{{ heading_level }}>
    {% if subtitle %}
        <div class="mt-3 sm:mt-6 {{ size|match:'large: text-2xl sm:text-4xl'|default:'text-xl sm:text-3xl' }}">{{ subtitle }}</div>
    {% endif %}
</div>
