{% load slippers wagtailcore_tags %}
{% var top_heading_level=top_heading_level|default:"2" %}
{% var sub_heading_level=top_heading_level|add:"1" %}

<div>
    {% if value.action_link_page %}
        {% pageurl value.action_link_page as action_link_url %}
    {% endif %}
    {% include "molecules/image-feature-heading/image-feature-heading.html" with supertitle=value.supertitle title=value.title subtitle=value.subtitle action_link_text=value.action_link_text action_link_url=action_link_url image=value.image %}
    {% if value.teaser_links %}
        <ul class="mt-16 sm:mt-24 flex flex-col md:flex-row justify-center md:gap-8 xl:gap-20">
            {% for tl in value.teaser_links %}
                <li class="px-4 py-8 basis-1/3 first:border-t-4 md:border-t-4 border-b-4 border-wvcyan-300">
                    {% teaser_link size="2xl" chevron=True heading_level=sub_heading_level heading=tl.heading tagline=tl.tagline url=tl.url %}
                </li>
            {% endfor %}
        </ul>
    {% endif %}
</div>
