{% extends "base.html" %}

{% block title %}
    Page does not exist
{% endblock title %}

{% block body %}
    <main class="flex flex-col h-screen md:items-center justify-center p-12">
        <div>
            <h1>Oh no.<br/>Something went wrong.</h1>
            <p class="mt-8 text-neutral-400">
                An unexpected error occurred.
                Please try again.
                If the error persists, please let us know.
            </p>
            <p class="mt-2 text-neutral-400">
                Go back to the <a href="/">homepage</a>.
            </p>
        </div>
    </main>
{% endblock body %}
