<main class="p-4 sm:p-16">
    <h1>
        Action links
    </h1>
    <div class="my-8 flex flex-row flex-wrap gap-8">
        {% include "./action-link.html" %}
        {% include "./action-link.html" with variant="alt" %}
        {% include "./action-link.html" with variant="ghost" %}
    </div>
    <div class="my-8 flex flex-row flex-wrap gap-8">
        {% include "./action-link.html" with size="xl" %}
        {% include "./action-link.html" with variant="alt" size="xl" %}
        {% include "./action-link.html" with variant="ghost" size="xl" %}
    </div>
    <div class="my-8 flex flex-row flex-wrap gap-8">
        {% include "./action-link.html" with size="2xl" %}
        {% include "./action-link.html" with variant="alt" size="2xl" %}
        {% include "./action-link.html" with variant="ghost" size="2xl" %}
        {% include "./action-link.html" with variant="ghost" size="2xl" text="This is a much longer than normal" %}
    </div>
</main>
