{% extends "base-page.html" %}
{% load l10n wagtailcore_tags wagtailimages_tags slippers %}

{% block content %}
    <section class="pt-32 xl:pt-48">
        <h1 class="max-w-lg xl:max-w-3xl">{{ page.title }}</h1>

        <p class="pt-6 md:pt-8 xl:pt-12 text-xl md:text-2xl xl:text-3xl">{{ page.introduction }}</p>

        <div class="flex flex-col lg:flex-row pt-4 lg:pt-8 xl:pt-12">
            {% if page.video or page.image %}
                <div class="flex items-start justify-center  lg:pr-8 px-2 py-3 shrink-0">
                    {% if page.video %}
                        <video
                            src="{{ page.video.url }}"
                            width="{{ page.video.width | unlocalize }}"
                            height="{{ page.video.height | unlocalize }}"
                            class="w-96 {% if page.image_shadow %} rounded-sm sm:rounded-md shadow-md lg:shadow-lg {% endif %}"
                            autoplay
                            loop
                            controlslist="nodownload nofullscreen noremoteplayback"
                            onclick="if (this.paused) {this.play()} else {this.pause()}"
                        >Animation of {{ page.title }}</video>
                    {% elif page.image %}
                        <picture>
                            {% image page.image width-384 as project_image_fallback %}
                            {% image page.image width-384 format-webp as project_image_384 %}
                            {% image page.image width-768 format-webp as project_image_768 %}
                            <source srcset="{{ project_image_384.url }}, {{ project_image_768.url }} 2x" type="image/webp">
                            <img
                                src="{{ project_image_fallback.url }}"
                                alt="Screenshot of {{ page.title }}"
                                class="w-96 {% if page.image_shadow %} rounded-sm sm:rounded-md shadow-md lg:shadow-lg {% endif %}"
                                loading="lazy"
                                width="{{ project_image_fallback.width }}"
                                height="{{ project_image_fallback.height }}"
                            />
                        </picture>
                    {% endif %}
                </div>
            {% endif %}

            <div>
                <div class="flex flex-row flex-wrap gap-4 items-center justify-center lg:justify-start pt-8 lg:pt-12 xl:pt-16 ">
                    {% with button_classes="lg:font-bold lg:p-5 lg:text-lg w-36 lg:w-48" %}
                        {% if page.repo_url %}
                            <div>
                                {% #button_link href=page.repo_url extra_class=button_classes %}See the code{% /button_link %}
                            </div>
                        {% endif %}
                        {% if page.demo_url %}
                            <div>
                                {% #button_link href=page.demo_url extra_class=button_classes %}See it live{% /button_link %}
                            </div>
                        {% endif %}
                    {% endwith %}
                </div>

                <div class="pt-12 xl:text-lg text-neutral-500">
                    {{ page.description|richtext }}
                </div>
            </div>
        </div>

        <div class="h-16 xl:h-24"></div>

        <div class="flex flex-wrap gap-2">
            {% for tech in page.related_technologies.all %}
                {% tech_pill label=tech.technology.name %}
            {% endfor %}
        </div>
    </section>
{% endblock content %}
