<h2 class="text-xl font-bold">Primary</h2>
<h3 class="text-lg">WV Blue</h2>
<div class="w-full px-20 py-10 flex justify-around">
    {% include "./_color.html" with color="bg-wvblue-50" %}
    {% include "./_color.html" with color="bg-wvblue-100" %}
    {% include "./_color.html" with color="bg-wvblue-200" %}
    {% include "./_color.html" with color="bg-wvblue-300" %}
    {% include "./_color.html" with color="bg-wvblue-400" %}
    {% include "./_color.html" with color="bg-wvblue-500" %}
    {% include "./_color.html" with color="bg-wvblue-600" %}
    {% include "./_color.html" with color="bg-wvblue-700" %}
    {% include "./_color.html" with color="bg-wvblue-800" %}
    {% include "./_color.html" with color="bg-wvblue-900" %}
</div>
<h3 class="text-lg">WV Cyan</h2>
<div class="w-full px-20 py-10 flex justify-around">
    {% include "./_color.html" with color="bg-wvcyan-50" %}
    {% include "./_color.html" with color="bg-wvcyan-100" %}
    {% include "./_color.html" with color="bg-wvcyan-200" %}
    {% include "./_color.html" with color="bg-wvcyan-300" %}
    {% include "./_color.html" with color="bg-wvcyan-400" %}
    {% include "./_color.html" with color="bg-wvcyan-500" %}
    {% include "./_color.html" with color="bg-wvcyan-600" %}
    {% include "./_color.html" with color="bg-wvcyan-700" %}
    {% include "./_color.html" with color="bg-wvcyan-800" %}
    {% include "./_color.html" with color="bg-wvcyan-900" %}
</div>
<h2 class="text-xl font-bold">Gray</h2>
<h3 class="text-lg">Zinc</h2>
<div class="w-full px-20 py-10 flex justify-around">
    {% include "./_color.html" with color="bg-zinc-50" %}
    {% include "./_color.html" with color="bg-zinc-100" %}
    {% include "./_color.html" with color="bg-zinc-200" %}
    {% include "./_color.html" with color="bg-zinc-300" %}
    {% include "./_color.html" with color="bg-zinc-400" %}
    {% include "./_color.html" with color="bg-zinc-500" %}
    {% include "./_color.html" with color="bg-zinc-600" %}
    {% include "./_color.html" with color="bg-zinc-700" %}
    {% include "./_color.html" with color="bg-zinc-800" %}
    {% include "./_color.html" with color="bg-zinc-900" %}
</div>
<h2 class="text-xl font-bold">Accent</h2>
<h3 class="text-lg">Red</h2>
<div class="w-full px-20 py-10 flex justify-around">
    {% include "./_color.html" with color="bg-red-50" %}
    {% include "./_color.html" with color="bg-red-100" %}
    {% include "./_color.html" with color="bg-red-200" %}
    {% include "./_color.html" with color="bg-red-300" %}
    {% include "./_color.html" with color="bg-red-400" %}
    {% include "./_color.html" with color="bg-red-500" %}
    {% include "./_color.html" with color="bg-red-600" %}
    {% include "./_color.html" with color="bg-red-700" %}
    {% include "./_color.html" with color="bg-red-800" %}
    {% include "./_color.html" with color="bg-red-900" %}
</div>
<h3 class="text-lg">Amber</h2>
<div class="w-full px-20 py-10 flex justify-around">
    {% include "./_color.html" with color="bg-amber-50" %}
    {% include "./_color.html" with color="bg-amber-100" %}
    {% include "./_color.html" with color="bg-amber-200" %}
    {% include "./_color.html" with color="bg-amber-300" %}
    {% include "./_color.html" with color="bg-amber-400" %}
    {% include "./_color.html" with color="bg-amber-500" %}
    {% include "./_color.html" with color="bg-amber-600" %}
    {% include "./_color.html" with color="bg-amber-700" %}
    {% include "./_color.html" with color="bg-amber-800" %}
    {% include "./_color.html" with color="bg-amber-900" %}
</div>
<h3 class="text-lg">Emerald</h2>
<div class="w-full px-20 py-10 flex justify-around">
    {% include "./_color.html" with color="bg-emerald-50" %}
    {% include "./_color.html" with color="bg-emerald-100" %}
    {% include "./_color.html" with color="bg-emerald-200" %}
    {% include "./_color.html" with color="bg-emerald-300" %}
    {% include "./_color.html" with color="bg-emerald-400" %}
    {% include "./_color.html" with color="bg-emerald-500" %}
    {% include "./_color.html" with color="bg-emerald-600" %}
    {% include "./_color.html" with color="bg-emerald-700" %}
    {% include "./_color.html" with color="bg-emerald-800" %}
    {% include "./_color.html" with color="bg-emerald-900" %}
</div>
