{% extends "base-page.html" %}
{% load slippers wagtailcore_tags %}

{% block content %}
    {% #content_centered %}
        <section>
            {% heading_with_intro heading=page.title introduction=page.introduction|richtext %}

            {% if index_entries %}
                <div class="mt-16">
                    {% include "molecules/link-listing/link-listing--elaborate.html" with links=index_entries %}
                </div>
            {% endif %}
        </section>
    {% /content_centered %}
{% endblock %}
