{% load slippers templex %}
{% var level=level|default:"1" %}
{% var size=size|default:"lg" %}
{% spaceless %}
    <h{{ level }}
       class="
              font-bold
              {% if size == 'lg' %}
                  heading-lg
              {% elif size == 'md' %}
                  heading-md
              {% elif size == 'sm' %}
                  heading-sm
              {% elif size == 'xs' %}
                  heading-xs
              {% endif %}
              {{ extra_class }}
             "
    >
        {{ text }}
        {{ children }}
    </h{{ level }}>
{% endspaceless %}
